<%- include('../includes/Head.ejs') %> <%-
include('../includes/navigation.ejs')%>
<script src="/javascript/statistics.js" defer></script>
<div class="statistics">
  <h1>Statistics</h1>

  <select id="category">
    <option value="sales">Sales</option>
    <option value="users">Users</option>
    <option value="orders">Orders</option>
  </select>

  <div class="sales" id="sales">
    <h1>Product Sales</h1>
    <select id="sales-sort">
      <option value="all">Short By</option>
      <option value="max">Most Sales</option>
      <option value="min">Least Sales</option>
    </select>
    <% products.forEach(product => { %>
    <div class="product">
      <h1 class="prod-title" value="<%= product.title %>">
        <%= product.title %>
      </h1>
      <h4 class="prod-quantity" value="<%= product.quantity %>">
        x<%= product.quantity %>
      </h4>
    </div>
    <% }) %>
  </div>

  <div class="users" id="users">
    <h1>Registered Users</h1>
    <% users.forEach(user => { %>
    <h5><%= user.name %></h5>
    <h5><%= user.role %></h5>
    <% }) %>
    <h4>Total users : <%= users.length %></h4>
  </div>

  <div class="orders" id="orders">
    <h1>Orders</h1>
    <% orders.forEach(order => { %>
    <div class="order">
      <% order.products.forEach(product => { %>
      <div class="product">
        <h4><%= product.quantity %>x</h4>
        <h3><%= product.product.title %></h3>
      </div>
      <% }) %>
    </div>
    <% }) %>
    <h4>Total Orders : <%= orders.length %></h4>
  </div>
  <!-- End of orders container -->
</div>
<!-- End of statistics -->
<%- include('../includes/End.ejs') %>
