<%- include('../includes/Head.ejs') %> <%-
include('../includes/navigation.ejs')%> <% let totalPrice = 0 %> <% let
overalPrice = 0 %>
<div class="orders-container">
  <div class="order-card">
    <% if(orders.length > 0) { %> 
      <% orders.forEach((order,index) => { %> 
        <p class="date">Date : <%= date[index] %></p>
        <% totalPrice = 0 %>
         <% order.forEach(cart => { %>
    <div class="order-info">
      <h1><%= cart.productId.title %></h1>
      <h4>x<%= cart.quantity %></h4>
      <% totalPrice += cart.quantity * cart.productId.price %> <% overalPrice +=
      cart.quantity * cart.productId.price %>
    </div>
    <% }) %>
    <p class="total-price">Total Price : <%= totalPrice %></p>
    <% }) } else { %>
    <h1>No order history</h1>
    <% } %>
  </div>
  <h4 class="overal-price">Overl Price : <%= overalPrice %></h4>
</div>
<%- include('../includes/End.ejs') %>
